:root {
  --bg-color: #121212;
  --bg-color-ui: #181605;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

main {
  margin: auto;
  padding: 0;
  width: 100%;
  color: white;
  font-size: 20px;
  line-height: 1.6;
}
